PYTHONPATH=/workspace
MODEL_PATH=/workspace/artifacts/model.joblib
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URI=postgresql://postgres:postgres@web-db:5432/web
DATABASE_URI_TEST=postgresql://postgres:postgres@web-db:5432/web_test
