include:
  - docker-compose.base.yml

services:
  app:
    extends:
      file: docker-compose.base.yml
      service: app_base
    volumes:
      - ..:/workspace:cached
    environment:
      DATABASE_URI: postgresql://postgres:postgres@db/web
      DATABASE_URI_TEST: postgresql://postgres:postgres@db/web_test
    command: sleep infinity
    network_mode: service:db
    depends_on:
      - db

  db:
    extends:
      file: docker-compose.base.yml
      service: db_base
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
